@import "react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500;600&family=Vollkorn:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
}
body {
  color: white;
  background: linear-gradient(to top, rgb(1, 0, 8), rgb(4, 4, 4), rgb(6, 6, 6)); 
}

/* Nav */

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

.custom-nav .collapse{
  height: 100%;
  justify-content: flex-end;
  background: url('./assets/space.jpeg') rgba(0,0,0,0.6);
  background-blend-mode:darken;
  padding: 20px;
}

.custom-link {
  color: white; 
  transition: color 0.2s; 
}


/* Home */

.home {
  color: #ffffff;
  background: url('./assets/vader.jpeg') rgba(0,0,0,0.85);
  background-blend-mode:darken;
  background-size:cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

/* Login */

.login {
  color: white;
  min-height: 100vh;
  align-items: center;
}

.login h6{
  margin-top: 15px;
}

/* Register */

.register {
  color: white;
  min-height: 100vh;
  align-items: center;
}

/* Gallery */

.galleryCont {
  display: flex;
}

.imageCont {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.contImageGallery {
  margin-bottom: 50px;
  width: 480px;
}

.textCont {
 margin-left: 190px;
 margin-top: 70px;
 text-align: justify;
}

.textCont h1 {
  margin-bottom: 50px;
}

.myImg {
  background: url('./assets/space.jpeg') rgba(0,0,0,0.6);
  background-blend-mode:darken;
  background-size:cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

/* Footer */

.footer {
  width: 100%;
  height: 300px;
  background: url('./assets/space.jpeg') rgba(0,0,0,0.6);
  background-blend-mode:darken;
  background-size:cover; 
  background-repeat: no-repeat; 
  background-position: center;
  display: flex;
  align-items: center;
}

/* Upload */

.uploadCont {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputCont {
  padding: 120px;
}

.formCont {
  width: 500px;
  height: 800px;
  background: url('./assets/space.jpeg') rgba(0,0,0,0.6);
  background-blend-mode:darken;
  background-size:cover; 
  background-repeat: no-repeat; 
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(130, 127, 127);
  border-radius: 10px;
}

